---
import { Image } from "@astrojs/image/components";

import ButtonLiveProduction from "../../../components/ButtonLiveProduction/ButtonLiveProduction.astro";
import IconCloudflare from "../Icons/IconCloudflare.astro";
import IconDokku from "../Icons/IconDokku.astro";
import IconHasura from "../Icons/IconHasura.astro";
import IconNuxt from "../Icons/IconNuxt.astro";
import IconSentry from "../Icons/IconSentry.astro";
import IconVue from "../Icons/IconVue.astro";
import IconNatatoko from "../Natanya/IconNatatoko.astro";
import ProjectSlider from "../ProjectSlider.astro";
---

<article
  style={{ transform: "perspective(75em) rotateX(18deg)" }}
  id="project-natatoko"
  class="relative z-10 mx-auto max-w-[1244px] overflow-hidden py-20 sm:rounded-3xl"
>
  <!-- Outnament Lines (Top) -->
  <Image
    src="/images/project-ournament-lines.png"
    width="1000"
    height="1000"
    loading="lazy"
    alt=""
    class="pointer-events-none absolute left-0 top-0 z-0 min-w-[600px] sm:min-w-[1000px]"
  />

  <!-- Outnament Lines (Bottom) -->
  <Image
    src="/images/project-ournament-lines-btm-red.png"
    loading="lazy"
    width="1000"
    height="1000"
    alt=""
    class="pointer-events-none absolute right-0 bottom-0 z-0 min-w-[500px] sm:min-w-[1000px]"
  />

  <div class="relative z-10 px-5 sm:px-10 lg:px-16">
    <h3 class="sr-only">Natatoko</h3>

    <IconNatatoko />

    <h4 class="sr-only">About Natatoko</h4>

    <p class="mt-10 text-lg !leading-150 text-dark sm:text-2xl">
      <strong class="font-semibold">Build a customizable well designed web store in 5 minutes</strong> with ease and sell
      products that supported by comprehensive income estimation and web traffic analytics for our users
    </p>
  </div>

  <div class="portfolio-images">
    <ProjectSlider
      project="natatoko"
      images={[
        { url: "/images/projects/1@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/2@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/3@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/4@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/5@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/6@natatoko.png", alt: "Natatoko" },
        { url: "/images/projects/7@natatoko.png", alt: "Natatoko" },
      ]}
    />
  </div>

  <div class="relative z-10 px-5 sm:px-10 lg:px-16">
    <p class="text-lg !leading-150 text-dark sm:text-2xl">
      It offers <strong>comprehensive income estimation and web traffic analytics</strong> to help users make informed business
      decisions. Setup, orders, products and business analysis are all easily adjustable with Natatoko.
      <br />
      <br />
      We also allows users to <strong>conveniently and effortlessly customize the visual appeal</strong> of their ecommerce
      platform to reflect their company's brand.
      <br />
      <br />
      Natatoko <strong>makes sure the store can be up and running in a matter of minutes.</strong>
    </p>

    <div class="mt-10 mb-10 sm:mt-[4.4rem] sm:mb-14">
      <ButtonLiveProduction name="natatoko.com" link="https://natatoko.com" />
    </div>

    <div class="flex items-start space-x-4 pl-5 sm:space-x-10 sm:pl-8">
      <a target="_blank" href="https://github.com/afnizarnur/nataicons" class="font-semibold leading-6 tracking-tight">
        <span class="block text-xl leading-4 text-dark sm:text-[32px] sm:!leading-100">nataicons</span>
        <span class="inline-flex space-x-[6px] text-sm text-slate-700 sm:pt-2 sm:text-xl">
          <span>on</span>
          <span
            ><svg class="w-[18px] sm:h-6 sm:w-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_67_250)">
                <path
                  d="M12.5 0.297119C5.87 0.297119 0.5 5.67012 0.5 12.2971C0.5 17.6001 3.938 22.0971 8.705 23.6821C9.305 23.7951 9.525 23.4241 9.525 23.1051C9.525 22.8201 9.515 22.0651 9.51 21.0651C6.172 21.7891 5.468 19.4551 5.468 19.4551C4.922 18.0701 4.133 17.7001 4.133 17.7001C3.046 16.9561 4.217 16.9711 4.217 16.9711C5.422 17.0551 6.055 18.2071 6.055 18.2071C7.125 20.0421 8.864 19.5121 9.55 19.2051C9.658 18.4291 9.967 17.9001 10.31 17.6001C7.645 17.3001 4.844 16.2681 4.844 11.6701C4.844 10.3601 5.309 9.29012 6.079 8.45012C5.944 8.14712 5.539 6.92712 6.184 5.27412C6.184 5.27412 7.189 4.95212 9.484 6.50412C10.444 6.23712 11.464 6.10512 12.484 6.09912C13.504 6.10512 14.524 6.23712 15.484 6.50412C17.764 4.95212 18.769 5.27412 18.769 5.27412C19.414 6.92712 19.009 8.14712 18.889 8.45012C19.654 9.29012 20.119 10.3601 20.119 11.6701C20.119 16.2801 17.314 17.2951 14.644 17.5901C15.064 17.9501 15.454 18.6861 15.454 19.8101C15.454 21.4161 15.439 22.7061 15.439 23.0961C15.439 23.4111 15.649 23.7861 16.264 23.6661C21.065 22.0921 24.5 17.5921 24.5 12.2971C24.5 5.67012 19.127 0.297119 12.5 0.297119"
                  fill="#334155"></path>
              </g>
              <defs>
                <clipPath id="clip0_67_250">
                  <rect width="24" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>
          </span>
          <span>github.com</span>
        </span>
      </a>
    </div>

    <div class="mt-20">
      <h4 class="text-2xl font-semibold leading-140 text-dark sm:text-[32px]">Featured technologies used</h4>
      <div class="mt-6 -ml-2 flex flex-wrap gap-4 gap-y-0 sm:ml-0 sm:gap-y-4">
        {
          [<IconHasura />, <IconNuxt />, <IconVue />, <IconCloudflare />, <IconDokku />, <IconSentry />].map((icon) => (
            <div class="-ml-2 w-20 scale-[80%] sm:ml-0 sm:min-h-[100px] sm:min-w-[100px] sm:scale-100">{icon}</div>
          ))
        }
      </div>
    </div>

    <div class="mt-14"></div>
  </div>
</article>

<style>
  article {
    background: linear-gradient(142.21deg, rgba(231, 80, 117, 0.1) -0.37%, rgba(236, 254, 255, 0) 66.76%),
      linear-gradient(318.59deg, rgba(232, 85, 121, 0.2) 3.78%, rgba(236, 254, 255, 0) 47.39%), #ffffff;
    box-shadow: 15px 24px 17px rgba(0, 0, 0, 0.01), 7px 11px 13px rgba(0, 0, 0, 0.02), 2px 3px 7px rgba(0, 0, 0, 0.02),
      0px 0px 0px rgba(0, 0, 0, 0.02);
  }

  @media (max-width: 640px) {
    article {
      background: linear-gradient(90deg, rgba(231, 80, 117, 0.1) 0%, #ffffff 66.89%);
    }
  }

  article::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        135deg,
        hsla(345, 76%, 62%, 0.4) 5%,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
      ),
      linear-gradient(
        300deg,
        hsla(345, 76%, 62%, 0.8) 10%,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
      );
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @media (max-width: 640px) {
    article::before {
      padding: 0;
      padding-top: 2px;
      background: linear-gradient(90deg, rgba(231, 80, 117, 0.8) 0%, #ffffff 66.89%);
    }
  }
</style>
