---
import IconGovTech from "../../../components/icons/IconGovTech.astro";
---

<article
  id="work-govtech"
  style={{ transform: "perspective(75em) rotateX(18deg)" }}
  class="relative z-10 mx-auto max-w-[1244px] overflow-hidden px-5 py-20 pb-40 sm:rounded-2xl sm:px-10 lg:px-[5.4rem]"
>
  <img
    loading="lazy"
    class="pointer-events-none absolute right-0 bottom-0 z-0"
    src="/images/work-ournament-blue.png"
    alt=""
  />

  <header class="z-10 flex flex-col items-start justify-between sm:flex-row">
    <div class="flex space-x-4 sm:space-x-6">
      <div class="scale-90 sm:mt-1 sm:scale-100">
        <IconGovTech />
      </div>
      <div>
        <h3 class="text-2xl font-semibold leading-100 text-cyan-50 sm:text-3xl md:text-[40px]">GovTech Edu</h3>
        <span
          class="inline-block pt-1 text-sm font-semibold leading-100 text-[#2FA5B6] sm:text-base md:pt-2 md:text-2xl"
          >@Telkom Indonesia</span
        >
      </div>
    </div>

    <div class="role-label relative mt-5 rounded-2xl px-4 py-3 sm:mt-0">
      <span class="font-bold text-cyan-50 sm:text-lg md:text-xl">Front-end Developer</span>
    </div>
  </header>

  <div class="z-10 mt-20">
    <h4 class="text-lg font-semibold text-sky-300 sm:text-xl">
      <span class="sr-only">Since:</span> July 2022 - Present
    </h4>
    <p class="mt-8 max-w-[570px] text-xl font-medium leading-140 text-sky-50 md:text-2xl">
      Working on the core web experience team that focusing on developer experience, design system, and web performance.
    </p>

    <h4
      class="mt-10 flex max-w-[200px] flex-col space-y-3 text-xl font-semibold text-sky-300 mob:max-w-none sm:mt-16 sm:flex-row sm:items-center sm:space-x-3 sm:space-y-0 md:text-2xl"
    >
      <svg width="19" height="17" viewBox="0 0 19 17" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          fill-rule="evenodd"
          clip-rule="evenodd"
          d="M15.8692 0.612197C13.5928 1.79879 10.4777 6.24644 8.64977 10.9197C8.45276 11.4236 8.27445 11.8428 8.25357 11.8514C8.23275 11.8599 7.83875 11.6166 7.37808 11.3105C6.04837 10.4273 3.65416 9.31041 2.48703 9.02896C0.618402 8.57838 -0.282493 11.2487 1.50513 11.9397C1.69094 12.0116 2.20597 12.2085 2.64964 12.3774C4.3462 13.0235 5.86528 13.9227 7.45943 15.2246C8.62064 16.1729 8.91336 16.2977 9.57143 16.1246C10.2673 15.9415 10.5938 15.5146 10.758 14.5726C11.3577 11.1335 14.7034 5.34067 17.2272 3.37189C18.2933 2.54017 18.5 2.15079 18.2905 1.36866C17.9909 0.250603 17.0979 -0.0283695 15.8692 0.612197Z"
          fill="#A5F3FC"></path>
      </svg>
      <span>Responsibilities and things I did</span>
    </h4>

    <ul class="mt-10 max-w-[774px] space-y-5 !leading-[180%] text-[#CCEEFF] mob:pl-4 sm:text-lg md:text-xl">
      <li>
        Lead or contribute to technical design, implementation, deployment, and operational excellence efforts to build
        and run scalable solutions for complex engineering challenges.
      </li>
      <li>
        Champion high-quality products and services through adopting best practices in resilience, observability,
        maintainability, and testing.
      </li>
      <li>Collaborate with cross-functional teams in delivering customer-centric tech products and services.</li>
    </ul>
  </div>
</article>

<style>
  article {
    background: linear-gradient(124.43deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 73.13%),
      linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), #091f2a;
  }

  ul li::before {
    content: "";
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #cceeff;
    margin-right: 0.5rem;
    margin-bottom: 4px;
  }

  article::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding: 2px;
    background: linear-gradient(
        135deg,
        rgba(125, 211, 252, 0.3) 1%,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent,
        transparent
      ),
      linear-gradient(300deg, rgba(125, 211, 252, 0.5) 10%, transparent, transparent, transparent);
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }

  @media (max-width: 640px) {
    article::before {
      padding: 0;
      padding-top: 2px;
      background: linear-gradient(90deg, rgba(125, 211, 252, 0.5) 0%, rgba(217, 217, 217, 0) 66.89%);
    }
  }

  .role-label::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding: 1.5px;
    background: linear-gradient(180deg, rgba(12, 74, 110, 1), rgba(12, 74, 110, 0.1));
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
</style>
