---
import Layout from "../../layouts/Layout.astro";
---

<Layout>
  <div class="flex min-h-screen bg-white">
    <div class="bg-slate-50 border-r border-slate-200 w-[3.75rem]">
      <div class="rotate-90">
        <a class="pl-20 text-sm text-slate-500 font-medium tracking-wider" href="/">helmisatria.com</a>
      </div>
    </div>
    <div class="bg-slate-50 w-[310px]"></div>
    <div class="bg-white"></div>
  </div>
</Layout>
