---
import BlogContent from "../../components/Blog/BlogPage/BlogContent.astro";
import BlogHeader from "../../components/Blog/BlogPage/BlogHeader.astro";
import LayoutBlog from "../../layouts/LayoutBlog.astro";
---

<LayoutBlog>
  <BlogHeader />
  <div role="separator" class="header-separator relative h-[2px] w-full"></div>

  <BlogContent />
</LayoutBlog>

<style>
  .header-separator {
    background: linear-gradient(
      to right,
      transparent,
      transparent,
      transparent,
      hsla(221, 39%, 64%, 0.1) 60%,
      transparent,
      transparent
    );
  }

  html {
    @apply !bg-blog-dark;
  }

  @media (max-width: 1440px) {
    html {
      font-size: 16px !important;
    }
  }

  @media (min-width: 1440px) {
    html {
      font-size: 20px !important;
    }
  }

  .balance-text {
    text-wrap: balance; /* Apply (proposed) CSS style */
  }
</style>
