---
import Arrow from "../../components/icons/Arrow.astro";
import Wave from "../../components/icons/Wave.astro";
---

<section id="header" class="relative w-full pb-16 lg:pb-32 xl:pb-36 2xl:pb-[11rem]">
  <!-- top separator -->
  <div class="h-[10px] w-full"></div>

  <!-- overlay -->
  <div class="header-overlay absolute inset-0 sm:max-w-full"></div>

  <div
    class="relative z-20 mx-auto mt-8 px-5 sm:mt-16 sm:px-10 md:max-w-[1244px] md:px-16 lg:mt-16 lg:px-12 xl:mt-24 xl:px-4 2xl:mt-[12rem]"
  >
    <div class="relative z-20">
      <!-- title -->
      <h1 class="header-title z-10 text-[2rem] font-bold tracking-tighter mob:text-[2.6rem] md:text-[4rem]">
        helmi satria.
      </h1>

      <!-- subtitle -->
      <p
        class="header-subtitle mt-1 text-[2.2rem] font-bold lowercase leading-[100%] tracking-tight mob:text-[3.4rem] sm:mt-3 sm:text-[4rem] md:mt-1.5 md:text-[5rem] md:leading-[5rem] md:tracking-[-0.06em] lg:max-w-[850px] xl:max-w-[1200px] xl:text-[5.9rem] xl:leading-[6.25rem]"
      >
        <span
          class="md:min-w-none max-md:block max-md:max-w-[420px] max-md:text-[90px] max-md:leading-[85%] max-md:tracking-[-0.06em] max-sm:max-w-[360px] max-sm:text-[85px] max-mob:max-w-[310px] max-mob:text-[70px]"
        >
          a
          <span class="no-text-fill-color relative">
            <span class="relative z-[1] text-[#294049]">happy</span>
            <span
              id="happy-bg"
              class="happy-bg absolute inset-0 -left-1 top-6 z-0 block h-[42px] w-0 rotate-[-2.2deg] opacity-0 mob:top-7 mob:h-[48px] sm:top-8 sm:h-[54px] md:-left-2 md:top-7 md:h-[50px] lg:top-6 lg:h-[56px] xl:top-8 xl:h-[60px]"
              style="background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 0) 123.9%);"></span>
          </span>
          full-stack developer
        </span>
        <br class="hidden xl:block" />

        <span
          class="max-md:mt-8 max-md:inline-block max-md:max-w-[300px] max-md:text-[38px] max-md:font-semibold max-md:leading-100 max-md:tracking-tighter max-sm:mt-6 max-sm:max-w-[261px] max-sm:text-[32px]"
        >
          who aims to help others grow in
          <span class="no-text-fill-color relative text-[#294049] md:inline-block">
            <span>web</span>
            <span>development</span>
            <span
              class="absolute hidden min-[484px]:-left-24 min-[484px]:-bottom-2 sm:-left-14 sm:scale-[76%] md:-left-2 md:inline-block md:scale-90 lg:left-0 lg:scale-95 xl:left-12 xl:bottom-0 xl:scale-100"
              ><Wave />
            </span>
          </span>
        </span>
      </p>

      <!-- description -->
      <p
        class="mt-12 text-xl leading-120 text-cyan-dark mob:text-2xl sm:mt-20 md:text-3xl md:!leading-140 xl:mt-24 xl:text-4xl 2xl:mt-[8.5rem]"
      >
        <span class="font-semibold">5 years of experience</span> in using <br class="block md:hidden" /> node.js and <span
          class="relative"
        >
          vue.js
          <span
            class="absolute inset-0 top-12 left-2 hidden min-w-[24rem] text-2xl tracking-tight lg:inline-block xl:left-7"
          >
            <Arrow /><span
              class="inline-block -translate-x-10 -translate-y-6 -rotate-12 transform whitespace-nowrap text-cyan-600 xl:-translate-x-0"
              >recently moved to react.js anyway 😜</span
            >
          </span>
        </span>
        <br class="hidden lg:block" /> for full-stack development.
      </p>
    </div>
  </div>

  <script>
    import {
      animate,
      inView,
    } from "https://cdn.skypack.dev/pin/motion@v10.14.2-LJwQD7W51KHV0ZIF3ZRz/mode=imports,min/optimized/motion.js";

    inView("#header", () => {
      animate("#happy-bg", { opacity: 1, width: "100%" }, { easing: [0.17, 0.55, 0.55, 1], delay: 0.2 });
      animate("#hero-wave", { opacity: 1 }, { easing: [0.17, 0.55, 0.55, 1], delay: 0.3 });
    });
  </script>
</section>

<style>
  .header-overlay {
    background: radial-gradient(90.87% 36.33% at -2.85% -2.27%, rgba(103, 232, 249, 0.3) 0%, rgba(6, 182, 212, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(180deg, #c7fcff 0%, rgba(236, 254, 255, 0) 100%);
  }

  @media (max-width: 767px) {
    .header-overlay {
      background: linear-gradient(180deg, #c7fcff 0%, rgba(236, 254, 255, 0) 100%);
    }
  }

  .header-title {
    background: radial-gradient(79.22% 146.6% at 80.79% 5.19%, rgba(255, 255, 255, 0.3) 0%, rgba(71, 85, 105, 0.3) 100%),
      #075985;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 77px;
    background: linear-gradient(to bottom, rgba(71, 85, 105, 0.9) 0%, #075985);
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: unset;
  }

  .header-subtitle {
    background: linear-gradient(to right bottom, rgb(41, 64, 73) 30%, rgb(10, 15, 17));
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: unset;
    background-clip: text;
  }
</style>
