---
import Arrow from "../../components/icons/Arrow.astro";
import Wave from "../../components/icons/Wave.astro";
---

<section id="header" class="relative w-full pb-32 lg:pb-64 xl:pb-72 2xl:pb-[22rem]">
  <!-- top separator -->
  <div
    class="h-[10px] w-full"
    style="background: radial-gradient(530% 530% at 50% -135%, rgba(12, 74, 110, 0.7) 0%, rgba(12, 74, 110, 0) 100%), #06B6D4;"
  >
  </div>

  <!-- overlay -->
  <div class="header-overlay sm:max-w-full absolute z-0 inset-0 top-[10px]"></div>

  <div
    class="px-5 sm:px-10 md:px-16 lg:px-12 xl:px-4 md:max-w-[1244px] mt-8 sm:mt-16 lg:mt-16 xl:mt-24 2xl:mt-[12rem] relative z-20 mx-auto"
  >
    <div class="relative z-20">
      <!-- title -->
      <h1 class="header-title font-bold tracking-tighter text-[2rem] mob:text-[2.6rem] md:text-[4rem] z-10">
        helmi satria.
      </h1>

      <!-- subtitle -->
      <p
        class="header-subtitle lg:max-w-[850px] xl:max-w-[1200px] md:mt-1.5 sm:mt-3 mt-1 lowercase md:tracking-[-0.06em] tracking-tight font-bold text-[2.2rem] mob:text-[3.4rem] sm:text-[4rem] md:text-[5rem] xl:text-[5.9rem] leading-[100%] md:leading-[5rem] xl:leading-[6.25rem]"
      >
        <span
          class="max-md:block max-mob:text-[70px] max-sm:text-[85px] max-md:text-[90px] max-mob:max-w-[310px] max-sm:max-w-[360px] max-md:max-w-[420px] md:min-w-none max-md:tracking-[-0.06em] max-md:leading-[85%]"
        >
          a
          <span class="relative no-text-fill-color">
            <span class="relative z-[1] text-[#294049]">happy</span>
            <span
              id="happy-bg"
              class="happy-bg opacity-0 z-0 block absolute inset-0 -left-1 md:-left-2 top-6 mob:top-7 sm:top-8 md:top-7 lg:top-6 xl:top-8 w-full h-[42px] mob:h-[48px] sm:h-[54px] md:h-[50px] lg:h-[56px] xl:h-[60px] rotate-[-2.2deg]"
              style="background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 0) 123.9%);"></span>
          </span>
          full-stack developer
        </span>
        <br class="hidden xl:block" />

        <span
          class="max-md:inline-block max-md:tracking-tighter max-md:font-semibold max-sm:mt-6 max-md:mt-8 max-sm:text-[32px] max-md:text-[38px] max-md:leading-100 max-sm:max-w-[261px] max-md:max-w-[300px]"
        >
          who aims to help others grow in
          <span class="relative md:inline-block no-text-fill-color text-[#294049]">
            <span>web</span>
            <span>development</span>
            <span
              class="absolute md:inline-block hidden sm:scale-[76%] md:scale-[85%] lg:scale-80 xl:scale-95 min-[484px]:-left-24 sm:-left-14 md:-left-7 xl:left-6 min-[484px]:-bottom-2 xl:bottom-0"
            >
              <Wave />
            </span>
          </span>
        </span>
      </p>

      <!-- description -->
      <p
        class="mt-12 sm:mt-20 xl:mt-24 2xl:mt-[8.5rem] text-cyan-dark text-xl mob:text-2xl md:text-3xl xl:text-4xl md:!leading-140 leading-120"
      >
        <span class="font-semibold">5 years of experience</span> in using <br class="block md:hidden" /> node.js and <span
          class="relative"
        >
          vue.js
          <span
            class="absolute lg:inline-block hidden min-w-[24rem] text-2xl tracking-tight inset-0 top-12 left-2 xl:left-7"
          >
            <Arrow /><span
              class="transform whitespace-nowrap inline-block -rotate-12 -translate-x-10 xl:-translate-x-0 -translate-y-6 text-cyan-600"
              >recently moved to react.js anyway 😜</span
            >
          </span>
        </span>
        <br class="hidden lg:block" /> for full-stack development.
      </p>
    </div>
  </div>
</section>

<style>
  .header-overlay {
    background: radial-gradient(90.87% 36.33% at -2.85% -2.27%, rgba(103, 232, 249, 0.3) 0%, rgba(6, 182, 212, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(180deg, #c7fcff 0%, rgba(236, 254, 255, 0) 100%);
  }

  @media (max-width: 767px) {
    .header-overlay {
      background: linear-gradient(180deg, #c7fcff 0%, rgba(236, 254, 255, 0) 100%);
    }
  }

  .header-title {
    background: radial-gradient(79.22% 146.6% at 80.79% 5.19%, rgba(255, 255, 255, 0.3) 0%, rgba(71, 85, 105, 0.3) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #075985;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 77px;
  }

  .header-subtitle {
    background: radial-gradient(64.5% 64.5% at 62.82% 5.33%, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(22.67% 61.17% at 20.34% 73.83%, rgba(255, 255, 255, 0.44) 0%, rgba(0, 0, 0, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #051c29;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
  }
</style>
