---
export type Props = {
  images: {
    url: string;
    alt: string;
  }[];
  project: string;
};

const { images, project } = Astro.props as Props;

import { Image } from "astro:assets";
---

<div class="relative">
  <div
    class="hide-scrollbar project-slider relative z-0 mx-[2px] grid snap-x grid-flow-col overflow-y-hidden pl-5 sm:pl-10 lg:pl-16"
  >
    {
      images.map((image) => (
        <div
          style={{ transform: "translateX(100px)" }}
          class={
            "w-[86vw] max-w-[86vw] snap-center py-10 pr-5 sm:w-[484px] sm:max-w-none sm:py-16" +
            ` project-slider-item-${project}`
          }
        >
          <Image
            format="webp"
            height={484 * 1.5}
            width={484 * 1.5}
            class="rounded-3xl"
            loading="lazy"
            src={image.url}
            alt={image.alt}
          />
        </div>
      ))
    }
    <div class="sm:pr-11"></div>
  </div>
</div>

<style>
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  img {
    box-shadow: 14px 15px 8px rgba(160, 171, 176, 0.01), 8px 8px 7px rgba(160, 171, 176, 0.05),
      4px 4px 5px rgba(160, 171, 176, 0.09), 1px 1px 3px rgba(160, 171, 176, 0.1), 0px 0px 0px rgba(160, 171, 176, 0.1);
  }
</style>
