<div class="max-w-[1244px] mx-auto z-10 relative px-5 sm:px-12 md:px-16 lg:px-12 xl:px-4">
  <h2
    class="relative text-2xl min-[360px]:text-3xl mob:text-4xl sm:text-5xl md:text-5xl lg:text-[64px] font-bold text-cyan-dark tracking-tight !leading-150"
  >
    🚀
    <span class="relative">
      <span class="z-[1] relative">Highlighted Projects</span>
      <span
        class="title-highlight max-[300px]:hidden max-[350px]:w-[220px] w-[250px] sm:w-[320px] lg:w-[600px] lg:h-[20px] h-[15px] z-0 absolute left-0 lg:bottom-2 bottom-1"
      >
      </span>
    </span>
  </h2>

  <p class="max-w-[730px] text-xl sm:text-2xl !leading-150 mt-9 text-dark">
    I've worked on a variety of projects, ranging from small MVPs to full-scale applications, also developed a wide
    array of features <br class="hidden lg:inline-block" /> and functionalities in projects.
  </p>
</div>

<style>
  .title-highlight {
    background: radial-gradient(75.3% 65106.57% at 1.06% -86.9%, rgba(12, 80, 105, 0.2) 0%, rgba(12, 74, 110, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(89.96deg, #91dafc -0.07%, rgba(145, 218, 252, 0) 113.39%);
    transform: rotate(-1.13deg);
  }
</style>
