---
import ProjectHeader from "./ProjectHeader.astro";
import ProjectNatanya from "./ProjectNatanya.astro";
---

<section class="relative overflow-hidden">
  <!-- mesh -->
  <img
    src="/images/mesh.png"
    alt=""
    width="1400"
    height="1089"
    class="absolute top-[-150px] left-[450px] right-0 min-w-[1400px]"
  />
  <ProjectHeader />

  <div class="mt-36"></div>
  <ProjectNatanya />

  <div class="mt-36"></div>
</section>
