---
export type Props = {
  images: {
    url: string;
    alt: string;
  }[];
};

const { images } = Astro.props as Props;
---

<div class="relative">
  <div
    class="hide-scrollbar z-0 grid relative overflow-y-hidden pl-5 sm:pl-10 lg:pl-16 grid-flow-col snap-x snap-center mx-[2px]"
  >
    {
      images.map((image) => (
        <div class="w-[86vw] max-w-[86vw] sm:max-w-none sm:w-[484px] pr-5 py-10 sm:py-16">
          <img height="484" width="484" class="rounded-3xl" loading="lazy" src={image.url} alt={image.alt} />
        </div>
      ))
    }
    <div class="sm:pr-11"></div>
  </div>
</div>

<style>
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  img {
    box-shadow: 14px 15px 8px rgba(160, 171, 176, 0.01), 8px 8px 7px rgba(160, 171, 176, 0.05),
      4px 4px 5px rgba(160, 171, 176, 0.09), 1px 1px 3px rgba(160, 171, 176, 0.1), 0px 0px 0px rgba(160, 171, 176, 0.1);
  }
</style>
