<div class="max-w-[1244px] mx-auto z-10 relative lg:px-12">
  <h2 class="relative text-[64px] font-bold text-cyan-dark tracking-tight">
    🚀
    <span class="relative">
      <span class="z-[1] relative">Highlighted Projects</span>
      <span class="title-highlight z-0 absolute left-0 bottom-2"> </span>
    </span>
  </h2>
  <p class="max-w-[730px] text-2xl leading-150 mt-9 text-dark">
    I've worked on a variety of projects, ranging from small MVPs to full-scale applications, also developed a wide
    array of features <br /> and functionalities in projects.
  </p>
</div>

<style>
  .title-highlight {
    width: 598.7px;
    height: 20.36px;
    background: radial-gradient(75.3% 65106.57% at 1.06% -86.9%, rgba(12, 80, 105, 0.2) 0%, rgba(12, 74, 110, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(89.96deg, #91dafc -0.07%, rgba(145, 218, 252, 0) 113.39%);
    transform: rotate(-1.13deg);
  }
</style>
