---
import ProjectNatanya from "./Items/ProjectNatanya.astro";
import ProjectNatatoko from "./Items/ProjectNatatoko.astro";
import ProjectHeader from "./ProjectHeader.astro";
---

<section class="relative pt-16 lg:pt-32 xl:pt-36 2xl:pt-[11rem]" id="projects">
  <!-- mesh -->
  <img
    loading="lazy"
    src="/images/mesh.png"
    alt=""
    width="1400"
    height="1089"
    class="aspect-auto absolute top-[-150px] right-0 hidden min-w-[554px] sm:top-[-150px] sm:left-[550px] sm:block lg:min-w-[1400px]"
  />

  <ProjectHeader />

  <div class="mt-20 px-0 sm:px-8 md:px-12 lg:mt-24 xl:mt-32">
    <ProjectNatanya />
  </div>

  <div class="relative">
    <img
      loading="lazy"
      src="/images/mesh.png"
      alt=""
      width="1400"
      height="1089"
      class="aspect-auto absolute top-[-700px] left-[-250px] hidden w-auto sm:block sm:min-h-[1400px]"
    />
  </div>

  <div class="mt-0 px-0 sm:mt-12 sm:px-8 md:px-12 lg:mt-24 xl:mt-32">
    <ProjectNatatoko />
    <div class="overlay-natatoko absolute bottom-0 right-0 hidden w-screen sm:block sm:h-[2050px] xl:h-[2000px]"></div>
  </div>

  <div class="sm:pt-32"></div>
</section>

<style>
  .overlay-natatoko {
    background: radial-gradient(
        136.64% 61.58% at 89.55% 104.49%,
        rgba(225, 29, 72, 0.17) 0%,
        rgba(255, 241, 242, 0) 100%
      ),
      radial-gradient(21.08% 15.61% at 21.46% 19.85%, rgba(225, 29, 72, 0.1) 0%, rgba(255, 241, 242, 0) 100%);
  }

  @media (max-width: 1268px) {
    .overlay-natatoko {
      background: radial-gradient(
          136.64% 61.58% at 89.55% 104.49%,
          rgba(225, 29, 72, 0.17) 0%,
          rgba(255, 241, 242, 0) 100%
        ),
        radial-gradient(21.08% 15.61% at 21.46% 19.85%, rgba(225, 29, 72, 0.45) 0%, rgba(255, 241, 242, 0) 100%);
    }
  }
</style>
