---
import ProjectHeader from "./ProjectHeader.astro";
import ProjectNatanya from "./Items/ProjectNatanya.astro";
import ProjectNatatoko from "./Items/ProjectNatatoko.astro";
---

<section class="relative">
  <!-- mesh -->
  <img
    loading="lazy"
    src="/images/mesh.png"
    alt=""
    width="1400"
    height="1292"
    class="hidden sm:block aspect-auto absolute top-[-150px] sm:top-[-150px] sm:left-[550px] right-0 min-w-[554px] lg:min-w-[1400px]"
  />

  <ProjectHeader />

  <div class="mt-20 lg:mt-24 xl:mt-32 px-0 sm:px-8 md:px-12">
    <ProjectNatanya />
  </div>

  <div class="relative">
    <img
      loading="lazy"
      src="/images/mesh.png"
      alt=""
      width="1400"
      height="1292"
      class="hidden sm:block absolute top-[-700px] left-[-250px] sm:min-h-[1400px] w-auto aspect-auto"
    />
  </div>

  <div class="mt-0 sm:mt-12 lg:mt-24 xl:mt-32 px-0 sm:px-8 md:px-12">
    <ProjectNatatoko />
  </div>

  <div class="sm:mt-32"></div>
</section>
