<section class="relative flex items-center overflow-hidden lg:max-h-screen lg:min-h-screen">
  <!-- Background -->
  <img
    src="/images/contact-bg.png"
    alt=""
    class="aspect-auto absolute bottom-0 -right-24 z-0 min-w-[800px] sm:right-0 sm:min-w-[1200px]"
  />

  <div
    class="z-10 mx-auto h-full px-5 max-lg:py-20 max-lg:pb-36 mob:px-8 sm:px-10 md:px-16 lg:px-0 lg:pb-16 xl:max-w-[1244px] xl:px-4 xl:pb-10 2xl:pb-32"
  >
    <!-- Section Title -->
    <h2 id="contact-me" class="text-3xl font-semibold !leading-140 tracking-tight md:font-bold 2xl:text-4xl">
      <span class="no-text-fill-color mr-2 block sm:inline-block">🤝</span> Let's get in touch
    </h2>

    <!-- Body Content -->
    <div
      class="body-content mt-12 text-5xl font-semibold tracking-tighter sm:text-6xl lg:text-[68px] xl:text-[84px] 2xl:mt-16 2xl:text-[92px]"
    >
      <p class="mt-5 leading-[90%] lg:mt-2 xl:-mt-5 xl:leading-[120%] 2xl:-mt-4">Suka kopi, mau ngopi bareng?</p>
      <p class="mt-5 leading-[90%] lg:mt-2 xl:-mt-5 xl:leading-[120%] 2xl:-mt-4">Have any project ideas?</p>
      <p class="mt-5 pb-2 leading-[90%] lg:mt-2 xl:-mt-5 xl:pb-0 xl:leading-[120%] 2xl:-mt-4">Ask something?</p>
    </div>

    <div class="mt-20 2xl:mt-24">
      <div class="flex flex-col items-start sm:flex-row sm:space-x-8">
        <!-- Avatar -->
        <div
          class="aspect-square relative inline-flex h-24 max-h-24 items-center justify-center rounded-full bg-cyan-dark sm:min-h-[32px] sm:min-w-[32px] md:h-28 xl:h-32 xl:max-h-32"
        >
          <img
            src="/images/helmi-square.png"
            alt="Helmi Satria"
            loading="lazy"
            class="h-24 max-h-24 w-24 max-w-[96px] rounded-full object-cover sm:h-32 sm:min-h-[32px] sm:w-32 sm:min-w-[32px] md:h-28 xl:h-32 xl:max-h-32 xl:max-w-[128px]"
          />
          <span class="absolute -bottom-1 right-0 text-4xl xl:text-5xl">🔥</span>
        </div>

        <!-- Contact me -->
        <div class="mt-6 sm:mt-0">
          <!-- Contact me - Title -->
          <p class="text-xl font-medium text-[#38BDF8] xl:text-2xl">Contact me via</p>

          <!-- Contact me - Content -->
          <div class="mt-4 space-y-1 text-[#CFFAFE] sm:space-y-0 md:mt-6 lg:text-base xl:mt-8 xl:text-2xl">
            <a href="mailto:satriahelmi@gmail.com" class="flex items-center space-x-3">
              <div class="h-4 w-4">
                <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  ><title>Gmail</title><path
                    d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                  ></path>
                </svg>
              </div>
              <span>satriahelmi@gmail.com</span>
            </a>
            <a href="https://twitter.com/@helmisatria_" target="_blank" class="flex items-center space-x-3">
              <div class="h-4 w-4">
                <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  ><title>Twitter</title><path
                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                  ></path>
                </svg>
              </div>
              <span>@helmisatria_</span>
            </a>
          </div>
        </div>
      </div>

      <div id="footer" class="absolute bottom-0 pb-10 2xl:pb-20">
        <p class="leading-140 text-cyan-700 xl:text-lg">
          Made with Astro and designed <br class="inline-block sm:hidden" /> happily using Figma by Helmi Satria
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: linear-gradient(115.24deg, rgba(27, 69, 91, 0.2) -16.72%, rgba(0, 0, 0, 0) 49.18%), #040d11;
  }

  h2 {
    background: linear-gradient(to bottom, #cffafe 0%, #075985);
    background-clip: text;
    text-fill-color: transparent;
    line-height: 77px;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: unset;
  }

  .body-content {
    background: linear-gradient(to right bottom, #cffafe 20%, rgba(12, 74, 110, 0.75));
    background-clip: text;
    text-fill-color: transparent;
    line-height: 77px;
    -webkit-box-decoration-break: clone;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    color: unset;
  }

  section::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding-top: 3px;
    background: linear-gradient(90deg, #67e8f9 0%, rgba(217, 217, 217, 0) 66.89%);
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
</style>
