<section class="relative overflow-hidden lg:min-h-screen lg:max-h-screen flex items-center">
  <!-- Background -->
  <img
    src="/images/contact-bg.png"
    alt=""
    class="absolute bottom-0 -right-24 sm:right-0 z-0 aspect-auto min-w-[800px] sm:min-w-[1200px]"
  />

  <div
    class="px-5 mob:px-8 sm:px-10 md:px-16 lg:px-0 xl:px-4 xl:max-w-[1244px] mx-auto h-full max-lg:py-20 max-lg:pb-36 lg:pb-16 xl:pb-10 2xl:pb-32 z-10"
  >
    <!-- Section Title -->
    <h2 class="font-semibold tracking-tight md:font-bold !leading-140 text-3xl 2xl:text-4xl">
      <span class="no-text-fill-color block sm:inline-block mr-2">🤝</span> Let's get in touch
    </h2>

    <!-- Body Content -->
    <div
      class="body-content mt-12 2xl:mt-16 tracking-tighter text-5xl sm:text-6xl lg:text-[68px] xl:text-[84px] 2xl:text-[92px] font-semibold"
    >
      <p class="leading-[90%] mt-5 xl:leading-[120%] lg:mt-2 xl:-mt-5 2xl:-mt-4">Suka kopi, mau ngopi bareng?</p>
      <p class="leading-[90%] mt-5 xl:leading-[120%] lg:mt-2 xl:-mt-5 2xl:-mt-4">Have any project ideas?</p>
      <p class="leading-[90%] mt-5 xl:leading-[120%] pb-2 xl:pb-0 lg:mt-2 xl:-mt-5 2xl:-mt-4">Ask something?</p>
    </div>

    <div class="mt-20 2xl:mt-24">
      <div class="flex flex-col sm:flex-row sm:space-x-8 items-start">
        <!-- Avatar -->
        <div
          class="h-24 md:h-28 xl:h-32 aspect-square inline-block sm:min-w-[32px] sm:min-h-[32px] bg-cyan-dark rounded-full relative"
        >
          <img src="/images/helmi-square.png" alt="Helmi Satria" class="object-cover w-full h-full rounded-full" />
          <span class="absolute -bottom-1 right-0 text-4xl xl:text-5xl">🔥</span>
        </div>

        <!-- Contact me -->
        <div class="mt-6 sm:mt-0">
          <!-- Contact me - Title -->
          <p class="text-[#38BDF8] text-xl xl:text-2xl font-medium">Contact me via</p>

          <!-- Contact me - Content -->
          <div class="lg:text-base xl:text-2xl mt-4 md:mt-6 xl:mt-8 space-y-1 sm:space-y-0 text-[#CFFAFE]">
            <a href="mailto:satriahelmi@gmail.com" class="flex space-x-3 items-center">
              <div class="h-4 w-4">
                <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  ><title>Gmail</title><path
                    d="M24 5.457v13.909c0 .904-.732 1.636-1.636 1.636h-3.819V11.73L12 16.64l-6.545-4.91v9.273H1.636A1.636 1.636 0 0 1 0 19.366V5.457c0-2.023 2.309-3.178 3.927-1.964L5.455 4.64 12 9.548l6.545-4.91 1.528-1.145C21.69 2.28 24 3.434 24 5.457z"
                  ></path>
                </svg>
              </div>
              <span>satriahelmi@gmail.com</span>
            </a>
            <a href="https://twitter.com/@helmisatria_" target="_blank" class="flex space-x-3 items-center">
              <div class="h-4 w-4">
                <svg class="fill-current" role="img" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                  ><title>Twitter</title><path
                    d="M23.953 4.57a10 10 0 01-2.825.775 4.958 4.958 0 002.163-2.723c-.951.555-2.005.959-3.127 1.184a4.92 4.92 0 00-8.384 4.482C7.69 8.095 4.067 6.13 1.64 3.162a4.822 4.822 0 00-.666 2.475c0 1.71.87 3.213 2.188 4.096a4.904 4.904 0 01-2.228-.616v.06a4.923 4.923 0 003.946 4.827 4.996 4.996 0 01-2.212.085 4.936 4.936 0 004.604 3.417 9.867 9.867 0 01-6.102 2.105c-.39 0-.779-.023-1.17-.067a13.995 13.995 0 007.557 2.209c9.053 0 13.998-7.496 13.998-13.985 0-.21 0-.42-.015-.63A9.935 9.935 0 0024 4.59z"
                  ></path>
                </svg>
              </div>
              <span>@helmisatria_</span>
            </a>
          </div>
        </div>
      </div>

      <div class="absolute bottom-0 pb-10 2xl:pb-20">
        <p class="text-cyan-700 xl:text-lg leading-140">
          Made with Astro and designed <br class="inline-block sm:hidden" /> happily using Figma by Helmi Satria
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  section {
    background: radial-gradient(62.75% 73.32% at 95.21% 94.98%, rgba(8, 52, 77, 0.2) 0%, rgba(0, 0, 0, 0) 100%),
      radial-gradient(50.23% 50.23% at 10.56% 29.51%, rgba(27, 69, 91, 0.2) 0%, rgba(0, 0, 0, 0) 100%), #040d11;
  }

  h2 {
    background: radial-gradient(155.21% 991.71% at 107.99% -17.71%, #0c4a6e 0%, rgba(12, 74, 110, 0) 100%)
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      #cffafe;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .body-content {
    background: radial-gradient(9.13% 220.67% at 0% 52.38%, rgba(12, 74, 110, 0.36) 0%, rgba(16, 98, 145, 0) 100%),
      radial-gradient(17.86% 10.62% at 40.19% 73.99%, rgba(12, 74, 110, 0.54) 0%, rgba(16, 98, 145, 0) 100%),
      radial-gradient(26.56% 26.56% at 50.05% 4.76%, rgba(12, 74, 110, 0.75) 0%, rgba(16, 98, 145, 0) 100%), #cffafe;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  section::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding-top: 3px;
    background: radial-gradient(50.45% 6538499.72% at 49.24% 99.77%, #67e8f9 0%, rgba(217, 217, 217, 0) 100%);
    mask-mode: match-source, match-source;
    mask-repeat: repeat, repeat;
    mask-clip: content-box, border-box;
    mask-origin: content-box, border-box;
    mask-position: 0% 0%, 0% 0%;
    mask-size: auto, auto;
    mask-image: linear-gradient(black, black), linear-gradient(black, black);
    mask-composite: exclude;
  }
</style>
