---
import { Image } from "@astrojs/image/components";

import { tw } from "../../../utils/tw";
---

<header
  class="relative mx-auto mb-0 h-full w-full overflow-hidden bg-blog-dark px-6 text-blog-95 sm:max-w-[2560px] sm:px-16"
>
  <div class="header-bg absolute inset-0 h-full w-full"></div>

  <Image
    format="webp"
    width="848px"
    height="383px"
    alt=""
    src="/images/blog/blog-background.png"
    class="absolute right-0 bottom-0 top-0 z-0 h-full w-[50%] object-cover sm:w-[60%]"
  />

  <div class="relative z-10 mx-auto max-w-[1024px] py-10 sm:w-[65rem] sm:pt-24 sm:pb-20">
    <div class="relative inline-block">
      <h1 class={tw(["relative z-10 font-bold tracking-tighter text-4xl", "sm:text-[4rem]"])}>Blog</h1>
      <div
        class={tw(["absolute h-[8px] w-24 bottom-[3px]", "sm:h-[13px] sm:w-40 sm:-bottom-2"])}
        style="background: linear-gradient(88.94deg, #3B4F7E 3.82%, rgba(186, 199, 229, 0) 92.17%); transform: rotate(-3.17deg);"
      >
      </div>
    </div>

    <p class={tw("pt-8 sm:pt-12 font-bold tracking-tighter text-2xl", "sm:text-[2rem]")}>Helmi Satria</p>
    <p
      class="balance-text max-w-[320px] pt-2 text-xs !leading-140 tracking-tighter text-blog-80 sm:text-lg lg:max-w-[410px]"
    >
      a happy full-stack developer who aims to help others grow in web/apps development
    </p>

    <a href="/" class="mt-5 inline-block text-xs text-blog-60 underline underline-offset-4 sm:text-sm">Full Profile</a>
  </div>
</header>

<style>
  .header-bg {
    background: radial-gradient(ellipse 80% 50% at 60% 10%, rgba(46, 66, 107, 0.5), rgba(8, 11, 18, 0));
  }

  header {
    filter: drop-shadow(0px 41px 11px rgba(11, 15, 24, 0.01)) drop-shadow(0px 26px 10px rgba(11, 15, 24, 0.07))
      drop-shadow(0px 15px 9px rgba(11, 15, 24, 0.25)) drop-shadow(0px 7px 7px rgba(11, 15, 24, 0.43))
      drop-shadow(0px 2px 4px rgba(11, 15, 24, 0.49)) drop-shadow(0px 0px 0px rgba(11, 15, 24, 0.5));
  }
</style>
