---
import dayjs from "dayjs";

import IconDate from "../../icons/IconDate.astro";

// dayjs locale id
import { getCollection } from "astro:content";
import "dayjs/locale/id";
dayjs.locale("id");

const blogPosts = await getCollection("blog");

// order by publishDate
blogPosts.forEach((blogPost) => {
  blogPost.data.publishDate = dayjs(blogPost.data.publishDate).format("YYYY-MM-DDTHH:mm:ss.000Z");
});

blogPosts.sort((a, b) => {
  return dayjs(b.data.publishDate).unix() - dayjs(a.data.publishDate).unix();
});
---

<main
  class="relative mx-auto min-h-screen max-w-[2560px] overflow-hidden px-6 py-16 sm:px-16 sm:pb-32 sm:pt-20"
  style="background: radial-gradient(82.23% 82.23% at 48.91% 0%, #030303 0%, rgba(10, 10, 10, 0) 100%);"
>
  <div class="content-overlay absolute inset-x-0 top-0 z-0 h-[704px] w-screen"></div>

  <ul class="relative mx-auto grid max-w-[1024px] gap-x-20 gap-y-10 sm:grid-cols-2 sm:gap-y-16">
    {
      blogPosts.map((post) => (
        <li class="max-w-[410px] text-blog-95">
          <article>
            <p class="mb-2 text-xs text-blog-60">{post.data.tags[0]}</p>
            <a href={`/blog/${post.data.slug}`}>
              <h2 class="balance-text text-base font-bold leading-120 decoration-blog-95/50 underline-offset-4 hover:underline sm:text-xl">
                {post.data.title}
              </h2>
            </a>
            <div class="mt-4 flex items-center space-x-2 text-xs text-blog-80">
              <IconDate />
              <p>{dayjs(post.data.publishDate).format("dddd, DD MMM YYYY")}</p>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</main>

<style>
  .content-overlay {
    background: radial-gradient(163.28% 86.18% at 50% 0%, rgba(62, 87, 142, 0.1) 0%, rgba(8, 11, 18, 0) 100%);
  }
</style>
