<main
  class="h-screen"
  style="background: radial-gradient(82.23% 82.23% at 48.91% 0%, #030303 0%, rgba(10, 10, 10, 0) 100%);"
>
  <div class="content-overlay h-[704px] w-full"></div>
  <p></p>
</main>

<style>
  .content-overlay {
    background: radial-gradient(163.28% 86.18% at 50% 0%, rgba(62, 87, 142, 0.3) 0%, rgba(8, 11, 18, 0) 100%);
  }
</style>
