/* figtree-regular - latin */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("/fonts/figtree-v2-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/figtree-v2-latin-regular.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/figtree-v2-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/figtree-v2-latin-regular.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/figtree-v2-latin-regular.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/figtree-v2-latin-regular.svg#Figtree") format("svg"); /* Legacy iOS */
}

/* figtree-600 - latin */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("/fonts/figtree-v2-latin-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/figtree-v2-latin-600.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/figtree-v2-latin-600.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/figtree-v2-latin-600.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/figtree-v2-latin-600.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/figtree-v2-latin-600.svg#Figtree") format("svg"); /* Legacy iOS */
}

/* figtree-700 - latin */
@font-face {
  font-family: "Figtree";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("/fonts/figtree-v2-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("/fonts/figtree-v2-latin-700.eot?#iefix") format("embedded-opentype"),
    /* IE6-IE8 */ url("/fonts/figtree-v2-latin-700.woff2") format("woff2"),
    /* Super Modern Browsers */ url("/fonts/figtree-v2-latin-700.woff") format("woff"),
    /* Modern Browsers */ url("/fonts/figtree-v2-latin-700.ttf") format("truetype"),
    /* Safari, Android, iOS */ url("/fonts/figtree-v2-latin-700.svg#Figtree") format("svg"); /* Legacy iOS */
}
