---
import Layout from "../layouts/Layout.astro";
---

<style>
  iframe {
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    border: 0;
  }
</style>

<Layout title="Helmi Satria - Fullstack Developer" seoTitle="Helmi Satria - Experienced Fullstack Developer">
  <main>
    <script async src="https://tally.so/widgets/embed.js"></script>

    <iframe
      data-tally-src="https://tally.so/r/wa9Bbv?transparentBackground=1"
      width="100%"
      height="100%"
      title="Online Mentoring with Helmi Satria (Maret 2023)"></iframe>
  </main>
</Layout>
