---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Helmi Satria - Full-stack Developer" seoTitle="Helmi Satria - Experienced Full-stack Developer">
  <main class="min-h-screen w-full bg-neutral-900">
    <div class="mx-auto my-auto max-w-2xl pt-[35vh] text-neutral-50">
      <p class="px-6 text-xl md:text-4xl">
        ✅ Bentar ya, otw ke telegram group <span class="block pt-5 font-medium">Belajar Bareng Helmi...</span>
      </p>
    </div>
  </main>
</Layout>

<script>
  window.addEventListener("load", function () {
    setTimeout(function () {
      window.location.href = "https://t.me/+pFsFY9oqWUg1MTM9";
    }, 3000);
  });
</script>
