---
import Layout from "../layouts/Layout.astro";
import HeroSection from "../app/Hero/HeroSection.astro";
import ProjectSection from "../app/Projects/ProjectSection.astro";
---

<Layout>
  <main class="min-h-screen">
    <HeroSection />
    <ProjectSection />
  </main>
</Layout>
