---
import Contact from "../app/Contact/Contact.astro";
import HeroSection from "../app/Hero/HeroSection.astro";
import ProjectSection from "../app/Projects/ProjectSection.astro";
import WorkExperienceSection from "../app/WorkExperience/WorkExperienceSection.astro";
import WritingSection from "../app/Writings/WritingSection.astro";
import NavbarPortfolio from "../components/Navbar/NavbarPortfolio";
import Layout from "../layouts/Layout.astro";
import { Image } from "@astrojs/image/components";
---

<Layout title="Helmi Satria - Fullstack Developer" seoTitle="Helmi Satria - Experienced Fullstack Developer">
  <NavbarPortfolio client:idle />
  <main class="relative min-h-screen overflow-hidden">
    <HeroSection />
    <div>
      <!-- ournament -->
      <Image
        id="hero-ournament"
        src="/images/hero-ournament.png"
        alt=""
        width={800}
        aspectRatio={1}
        quality={100}
        class="pointer-events-none absolute inset-0 top-[-10px] left-[-50px] min-w-[950px] scale-125 opacity-0 sm:mx-auto sm:min-w-[1420px] sm:scale-100 2xl:min-w-[1600px] 2xl:scale-105"
      />
    </div>
    <ProjectSection />
    <div id="dark-section">
      <WorkExperienceSection />
      <WritingSection />
    </div>
    <Contact />
  </main>

  <script>
    import {
      animate,
      inView,
    } from "https://cdn.skypack.dev/pin/motion@v10.14.2-LJwQD7W51KHV0ZIF3ZRz/mode=imports,min/optimized/motion.js";

    inView("body", () => {
      animate("#hero-ournament", { opacity: 1 }, { easing: [0.17, 0.55, 0.55, 1] });
      animate("#nav", { opacity: 1, transform: "translateY(0%)" }, { easing: [0.17, 0.55, 0.55, 1], delay: 0.6 });
    });
  </script>
</Layout>
