---
import Arrow from "../icons/Arrow.astro";
import Wave from "../icons/Wave.astro";
import HeaderWaveMobile from "../icons/HeaderWaveMobile.astro";
---

<section id="header" class="relative w-full pb-[5rem]">
  <div class="h-[10px] bg-[#06B6D4] w-full"></div>
  <div class="header-overlay absolute z-0 inset-0 top-[10px]"></div>
  <div class="px-6 sm:px-10 md:px-16 md:max-w-[1180px] md:mt-[9rem] mt-[6.25rem] relative z-20 mx-auto">
    <div class="absolute z-10">
      <img src="/images/mesh-gradient.png" alt="" />
    </div>
    <div class="relative z-20">
      <h1 class="header-title font-bold tracking-tighter md:text-[4rem] text-[2rem] z-10">helmi satria.</h1>
      <p
        class="header-subtitle max-w-[1170px] md:mt-[6px] mt-3 lowercase md:tracking-tighter tracking-tight font-bold text-[2.875rem] sm:text-[4rem] md:text-[5rem] lg:text-[5.9rem] lg:leading-[6.25rem] leading-[100%]"
      >
        a
        <span class="relative no-text-fill-color">
          <span class="relative z-20">happy</span>
          <span
            class="happy-bg z-0 absolute inset-0 md:-left-2 -left-1 sm:top-6 md:top-3 lg:top-7 top-3 w-full sm:h-[45px] md:h-[73px] h-[29px] rotate-[-2.2deg]"
            style="background: linear-gradient(85.27deg, #57E9F9 0.78%, rgba(165, 243, 252, 0) 123.9%);"></span>
        </span>
        full-stack developer <br class="hidden md:block" /> who aims to help others grow in
        <br class="xl:hidden block" />
        <span class="relative no-text-fill-color">
          <span class="relative z-10">web development</span>
          <span class="absolute lg:inline-block hidden left-12 bottom-0"><Wave /></span>
        </span>
      </p>
      <p class="md:mt-[8.5rem] mt-12 text-slate-900 md:text-4xl text-lg md:!leading-140 leading-normal">
        <span class="font-semibold">5 years of experience</span> in using Node.js and <span class="relative">
          vue.js
          <span class="absolute md:inline-block hidden min-w-[24rem] text-2xl tracking-tight inset-0 top-12 left-7">
            <Arrow /><span class="transform inline-block -rotate-12 -translate-y-6 text-cyan-600"
              >recently moved to react.js anyway 😜</span
            >
          </span>
        </span>
        <br class="hidden md:block" /> for full-stack development
      </p>
    </div>
  </div>
</section>

<style>
  .no-text-fill-color {
    -webkit-text-fill-color: initial;
    text-fill-color: initial;
  }

  .header-overlay {
    background: linear-gradient(180deg, #d6fdff 0%, rgba(236, 254, 255, 0) 100%);
  }

  .header-title {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.3) 8.97%, rgba(71, 85, 105, 0.3) 91.67%), #075985;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  .header-subtitle {
    background: radial-gradient(20.33% 20.33% at 21.88% 70%, rgba(255, 255, 255, 0.5) 0%, #051c29 100%),
      radial-gradient(40% 40% at 62.82% 5.33%, rgba(255, 255, 255, 0.36) 0%, #051c29 100%), #000000;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-clip: text;
  }
</style>
