---
import { Image } from "@astrojs/image/components";

import WorkExperienceHeader from "./WorkExperienceHeader.astro";
import WorkExperienceList from "./WorkExperienceList.astro";
---

<section class="relative overflow-hidden" id="work-experiences-section">
  <Image
    format="webp"
    class="pointer-events-none absolute -left-4 -right-4 top-[-30px] z-0 mx-auto scale-[350%] sm:scale-150 xl:scale-105"
    src="/images/work-experiences-ournament.png"
    width="1406"
    height="1052"
    loading="lazy"
    alt=""
  />

  <div id="work-experiences"></div>
  <div class="bg-top px-5 pt-32 sm:pt-[14rem]">
    <WorkExperienceHeader />
  </div>

  <WorkExperienceList />
</section>

<style>
  section {
    background: linear-gradient(180deg, rgba(5, 31, 46, 0.53) 0%, rgba(0, 0, 0, 0) 38.04%), #091f2a;
  }

  section::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding-top: 3px;
    background: linear-gradient(90deg, #67e8f9 0%, rgba(217, 217, 217, 0) 66.89%);
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
</style>
