<nav class="hidden border-r border-slate-200 bg-slate-50 px-6 py-4 lg:block lg:w-[3.75rem] lg:px-0 lg:py-0 xl:h-screen">
  <div class="rotate-0 lg:rotate-90">
    <a class="text-sm font-medium tracking-wider text-slate-500 lg:ml-20" href="/">helmisatria.com</a>
  </div>
</nav>
