<nav class="hidden border-r border-slate-200 bg-slate-50 px-6 py-4 sm:block sm:w-[3.75rem] sm:px-0 sm:py-0">
  <div class="rotate-0 sm:rotate-90">
    <a class="text-sm font-medium tracking-wider text-slate-500 sm:ml-20" href="/">helmisatria.com</a>
  </div>
</nav>
