---
import WritingHeader from "./WritingHeader.astro";
import WritingList from "./WritingList.astro";
---

<section id="latest-writings" class="relative overflow-hidden">
  <!-- Ournament at Top -->
  <img
    class="pointer-events-none absolute -left-4 -right-4 top-[-30px] z-0 mx-auto scale-[350%] sm:scale-150 xl:scale-105"
    src="/images/work-experiences-ournament.png"
    width="1406"
    height="1052"
    loading="lazy"
    alt=""
  />

  <!-- Ournament at Bottom -->
  <img
    class="pointer-events-none absolute inset-x-0 -bottom-5 z-0 mx-auto 2xl:scale-[120%]"
    src="/images/writings-ournament-bottom.png"
    width="1406"
    height="1052"
    loading="lazy"
    alt=""
  />

  <div class="px-5 pt-12 sm:pt-[14rem]">
    <WritingHeader />
    <WritingList />

    <div class="mb-10 mt-11 flex w-full justify-center sm:mb-20 sm:mt-28 lg:mb-40">
      <div
        class="btn-blog relative mx-auto flex w-full flex-col items-center rounded-xl px-5 py-6 text-center sm:w-[550px] sm:rounded-[32px] sm:px-10 sm:py-9 md:w-[650px] lg:w-[865px]"
      >
        <h3 class="text-2xl font-semibold text-cyan-100 sm:text-3xl sm:leading-[120%]">Check out my blog</h3>
        <p
          class="mt-2.5 max-w-[300px] text-sm leading-140 text-cyan-100 text-opacity-80 sm:max-w-none sm:text-lg md:max-w-[506px]"
        >
          Stay informed about my writing by subscribing to my blog.
        </p>

        <a href="/blog#title" class="mt-6 text-cyan-600 hover:underline sm:mt-14">
          <p class="text-2xl font-semibold text-cyan-400 md:text-3xl lg:text-[46px]">helmisatria.com/blog</p>
        </a>
      </div>
    </div>
  </div>
</section>

<script>
  import {
    animate,
    inView,
  } from "https://cdn.skypack.dev/pin/motion@v10.14.2-LJwQD7W51KHV0ZIF3ZRz/mode=imports,min/optimized/motion.js";

  const defaultEasing = [0.17, 0.55, 0.55, 1];

  inView("#latest-writings .title-highlight", (el) => {
    animate("#latest-writings .title-highlight", { maxWidth: "100%" }, { duration: 0.4, delay: 0.3 });
  });

  document.querySelectorAll(".writing-list-item").forEach((item, i) => {
    inView(item, (el) => {
      animate(
        item,
        { opacity: 1, transform: "translateY(0)" },
        { duration: 0.3, delay: 0.1 + i / 10, easing: defaultEasing }
      );
    });
  });
</script>

<style>
  section {
    background: linear-gradient(181.32deg, rgba(5, 31, 46, 0.53) 1.13%, rgba(0, 0, 0, 0) 34%), #091f2a;
  }

  section::before {
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    inset: 0px;
    border-radius: inherit;
    padding-top: 3px;
    background: linear-gradient(90deg, hsla(200, 98%, 39%, 1) 0%, rgba(217, 217, 217, 0) 66.89%);
    content: "";
    pointer-events: none;
    user-select: none;
    position: absolute;
    border-radius: inherit;
    -webkit-mask: linear-gradient(black, black) content-box content-box, linear-gradient(black, black);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
  }
</style>
