<div class="relative z-10 flex flex-col items-start sm:items-center">
  <h2
    class="relative text-4xl font-bold tracking-tight text-cyan-50 sm:text-5xl sm:!leading-150 md:text-5xl lg:text-[64px]"
  >
    <span class="block pb-4 sm:inline-block sm:pb-0">✍️</span>
    <span class="relative">
      <span class="relative z-[1]">Latest Writings</span>
      <span
        style={{ maxWidth: 0 }}
        class="title-highlight absolute bottom-1 left-0 z-0 hidden h-[15px] w-[250px] max-[350px]:w-[220px] min-[345px]:inline-block sm:w-[320px] lg:bottom-2 lg:h-[20px] lg:w-[500px]"
      >
      </span>
    </span>
  </h2>

  <p
    class="max-w-[720px] pb-16 pt-11 text-left text-xl font-normal !leading-150 text-sky-200 sm:pb-32 sm:text-center sm:text-xl"
  >
    I share my process, experiences, tips and resources related to web and mobile development, such as React and
    Javascript, in my blog to help others on their web development journey.
  </p>
</div>

<style>
  .title-highlight {
    background: radial-gradient(75.3% 65106.57% at 1.06% -86.9%, rgba(14, 165, 233, 0.2) 0%, rgba(12, 74, 110, 0) 100%),
      linear-gradient(89.96deg, rgba(14, 165, 233, 0.8) -0.07%, rgba(145, 218, 252, 0) 113.39%);
    transform: rotate(-1.13deg);
  }
</style>
