---
import BlogSideNavigation from "../components/Blog/BlogSideNavigation.astro";
import BlogSidebar from "../components/Blog/BlogSidebar.astro";
import BlogTitleOurnament from "../components/Blog/BlogTitleOurnament.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="flex min-h-screen flex-col bg-white sm:flex-row">
    <header class="fixed flex min-h-screen w-[420px]">
      <BlogSideNavigation />
      <BlogSidebar />
    </header>

    <div class="relative ml-[440px] flex-1 overflow-x-hidden">
      <BlogTitleOurnament />

      <div class="relative z-10 w-full border-b border-slate-200 py-6">
        <div class="mx-auto max-w-4xl px-5">
          <h1 class="text-xl font-semibold text-slate-900">Blog</h1>
        </div>
      </div>
      <slot />
    </div>
  </div>
</Layout>
