---
import { SEO } from "astro-seo";
import "../styles/fonts.css";

const title = "Helmi Satria - Experienced Fullstack Developer";
const description =
  "Experienced fullstack javascript developer with 5+ years of experience in building web applications";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <SEO
      title="Helmi Satria - Fullstack Developer"
      description={description}
      openGraph={{
        optional: {
          locale: "en_US",
          description: description,
          siteName: "Helmi Satria",
        },
        image: {
          alt: "Helmi Satria",
          height: 630,
          width: 1200,
          url: "https://helmisatria.com/images/og.png",
        },
        basic: {
          image: "https://helmisatria.com/images/og.png",
          title: title,
          type: "website",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@helmisatra_",
        site: "@helmisatra_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://helmisatria.com/images/og.png",
          },
          { name: "twitter:title", content: title },
          {
            name: "twitter:description",
            content: description,
          },
        ],
      }}
    />

    <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-40YQWWQ9TY"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "G-40YQWWQ9TY");
    </script>
  </head>

  <body>
    <slot />

    <style is:global>
      html {
        font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
          "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
        background-color: #f6f6f6;
        min-height: 100vh;
      }

      body {
        min-height: 100vh;
      }

      strong {
        @apply font-semibold;
      }

      .no-text-fill-color {
        -webkit-text-fill-color: initial;
        text-fill-color: initial;
      }
    </style>
  </body>
</html>
