---
import { SEO } from "astro-seo";
import LayoutScripts from "./LayoutScripts.astro";

const seoDescription =
  "Experienced full-stack software engineer with over 5 years of expertise in crafting scalable web applications with intuitive user interfaces";

type Props = {
  title?: string;
  seoTitle?: string;
  description?: string;
  publishedDate?: string;
  fontFamily?: string;
};

const {
  title = "Helmi Satria - Full-stack Developer",
  seoTitle = "Helmi Satria - Experienced Full-stack Developer",
  description = seoDescription,
  fontFamily = "Figtree",
  publishedDate,
} = Astro.props;
---

<!DOCTYPE html>
<html
  lang="id"
  style=`font-family: ${fontFamily}, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
"Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
"Segoe UI Symbol"`
>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    {publishedDate && <meta property="article:published_time" content={publishedDate} />}

    <link rel="sitemap" href="/sitemap-index.xml" />

    <slot name="font" />

    <SEO
      title={title}
      description={description}
      openGraph={{
        optional: {
          locale: "id_ID",
          description: description,
          siteName: "Helmi Satria",
        },
        image: {
          alt: "Helmi Satria",
          height: 630,
          width: 1200,
          url: "https://helmisatria.com/images/og.png",
        },
        basic: {
          image: "https://helmisatria.com/images/og.png",
          title: seoTitle,
          type: "website",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@helmisatra_",
        site: "@helmisatra_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://helmisatria.com/images/og.png",
          },
          { name: "twitter:title", content: seoTitle },
          {
            name: "twitter:description",
            content: description,
          },
        ],
      }}
    />
    {import.meta.env.DEV !== true && <LayoutScripts />}
  </head>

  <body>
    <slot />

    <!-- Google Tag Manager (noscript) -->
    {
      import.meta.env.DEV !== true && (
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NDLDNMH"
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <!-- End Google Tag Manager (noscript) -->

    <style is:global>
      html {
        background-color: #f6f6f6;
        min-height: 100vh;
        /* scroll-behavior: smooth; */
      }

      body {
        min-height: 100vh;
      }

      strong {
        @apply font-semibold;
      }

      .navbar-background-light {
        background: linear-gradient(180deg, rgba(9, 130, 163, 0.55) -8.75%, rgba(9, 130, 163, 0) 100%);
      }

      .navbar-background-dark {
        background: linear-gradient(180deg, rgba(5, 31, 46, 1) -8.75%, rgba(9, 130, 163, 0) 100%);
      }

      .no-text-fill-color {
        -webkit-text-fill-color: initial;
        text-fill-color: initial;
      }
    </style>
  </body>
</html>
