---
import { SEO } from "astro-seo";
import "../styles/fonts.css";

const title = "Helmi Satria - Fullstack Developer";
const description =
  "Experienced fullstack javascript developer with 5+ years of experience in building web applications";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title={title}
      description={description}
      openGraph={{
        basic: {
          image: "",
          title:
            "Helmi Satria - Professional Fullstack Developer with 5 Years of Experience Aiming To Help Others Grow in Web Development",
          type: "website",
        },
      }}
      twitter={{
        creator: "@helmisatria_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://example.com/image.jpg",
          },
          { name: "twitter:title", content: description },
          {
            name: "twitter:description",
            content: description,
          },
        ],
      }}
    />

    <!-- <script type="text/partytown" src="https://www.googletagmanager.com/gtag/js?id=G-QSZQYDGWF9"></script>
    <script type="text/partytown">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }

      gtag("js", new Date());
      gtag("config", "G-QSZQYDGWF9");
    </script> -->

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QSZQYDGWF9"></script>
    <script is:inline>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-QSZQYDGWF9");
    </script>
  </head>

  <body>
    <slot />

    <style is:global>
      html {
        font-family: "Figtree", system-ui, sans-serif;
        background-color: #f6f6f6;
      }
    </style>
  </body>
</html>
