---
import { SEO } from "astro-seo";
 
export interface Props {
  title: string;
}

const { title } = Astro.props;

---

<!DOCTYPE html>
<html lang="en">
  <head> 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" /><link
      rel="preconnect"
      href="https://fonts.gstatic.com"
      crossorigin
    /><link
      href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;600;700&display=swap"
      rel="stylesheet"
    />
    
    <SEO
      title="Helmi Satria - Fullstack Developer"
      description="Experienced fullstack javascript developer with 5+ years of experience in building web applications"
      openGraph={{
        basic: {
          image: '',
          title: 'Helmi Satria - Professional Fullstack Developer with 5 Years of Experience Aiming To Help Others Grow in Web Development',
          type: 'website',
        }
      }}
      twitter={{
        creator: "@helmisatria_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://example.com/image.jpg",
          },
          { name: "twitter:title", content: "Helmi Satria - Fullstack Developer" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />

  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Figtree", system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
