---
import { SEO } from "astro-seo";
import LayoutScripts from "./LayoutScripts.astro";

const seoDescription =
  "Experienced fullstack javascript developer with 5+ years of experience in building web applications";

type Props = {
  title?: string;
  seoTitle?: string;
  description?: string;
  publishedDate?: string;
};

const {
  title = "Helmi Satria - Fullstack Developer",
  seoTitle = "Helmi Satria - Experienced Fullstack Developer",
  description = seoDescription,
  publishedDate,
} = Astro.props;

const url = Astro.url.pathname;

const inBlog = url.includes("/blog");
---

<!DOCTYPE html>
<html lang="id">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    {inBlog && <link rel="stylesheet" href="/fonts/Satoshi/satoshi.css" />}
    {url === "/" && <link rel="stylesheet" href="/fonts/Figtree/figtree.css" />}

    {inBlog && <script src="https://cdnjs.cloudflare.com/ajax/libs/balance-text/3.3.1/balancetext.min.js" />}

    {publishedDate && <meta property="article:published_time" content={publishedDate} />}

    <SEO
      title={title}
      description={description}
      openGraph={{
        optional: {
          locale: "id_ID",
          description: description,
          siteName: "Helmi Satria",
        },
        image: {
          alt: "Helmi Satria",
          height: 630,
          width: 1200,
          url: "https://helmisatria.com/images/og.png",
        },
        basic: {
          image: "https://helmisatria.com/images/og.png",
          title: seoTitle,
          type: "website",
        },
      }}
      twitter={{
        card: "summary_large_image",
        creator: "@helmisatra_",
        site: "@helmisatra_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://helmisatria.com/images/og.png",
          },
          { name: "twitter:title", content: seoTitle },
          {
            name: "twitter:description",
            content: description,
          },
        ],
      }}
    />
    {import.meta.env.DEV !== true && <LayoutScripts />}
  </head>

  <body>
    <slot />

    <!-- Google Tag Manager (noscript) -->
    {
      import.meta.env.DEV !== true && (
        <noscript>
          <iframe
            src="https://www.googletagmanager.com/ns.html?id=GTM-NDLDNMH"
            height="0"
            width="0"
            style="display:none;visibility:hidden"
          />
        </noscript>
      )
    }
    <!-- End Google Tag Manager (noscript) -->

    <style is:global>
      html {
        font-family: "Figtree", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
          "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
          "Segoe UI Symbol";
        background-color: #f6f6f6;
        min-height: 100vh;
      }

      body {
        min-height: 100vh;
      }

      strong {
        @apply font-semibold;
      }

      /* smooth scroll */
      html {
        scroll-behavior: smooth;
      }

      .navbar-background-light {
        background: linear-gradient(180deg, rgba(9, 130, 163, 0.55) -8.75%, rgba(9, 130, 163, 0) 100%);
      }

      .navbar-background-dark {
        background: linear-gradient(180deg, rgba(5, 31, 46, 1) -8.75%, rgba(9, 130, 163, 0) 100%);
      }

      .no-text-fill-color {
        -webkit-text-fill-color: initial;
        text-fill-color: initial;
      }
    </style>
  </body>
</html>
