---
import { SEO } from "astro-seo";
import "../styles/fonts.css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <SEO
      title="Helmi Satria - Fullstack Developer"
      description="Experienced fullstack javascript developer with 5+ years of experience in building web applications"
      openGraph={{
        basic: {
          image: "",
          title:
            "Helmi Satria - Professional Fullstack Developer with 5 Years of Experience Aiming To Help Others Grow in Web Development",
          type: "website",
        },
      }}
      twitter={{
        creator: "@helmisatria_",
      }}
      extend={{
        link: [{ rel: "icon", href: "/favicon.ico" }],
        meta: [
          {
            name: "twitter:image",
            content: "https://example.com/image.jpg",
          },
          { name: "twitter:title", content: "Helmi Satria - Fullstack Developer" },
          { name: "twitter:description", content: "Agent" },
        ],
      }}
    />
  </head>
  <body>
    <slot />

    <style is:global>
      html {
        font-family: "Figtree", system-ui, sans-serif;
        background-color: #f6f6f6;
      }
    </style>
  </body>
</html>
