---
import BlogSideNavigation from "../components/Blog/BlogSideNavigation.astro";
import BlogSidebar from "../components/Blog/BlogSidebar.astro";
import BlogTitleOurnament from "../components/Blog/BlogTitleOurnament.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog - Helmi Satria" seoTitle="Blog - Helmi Satria">
  <div class="flex min-h-screen flex-col bg-white lg:flex-row">
    <header class="lg:fixed lg:flex lg:min-h-screen lg:w-[360px] xl:w-[420px]">
      <BlogSideNavigation />
      <BlogSidebar />
    </header>

    <div class="relative flex-1 overflow-x-hidden pb-20 lg:ml-[380px] xl:ml-[440px]">
      <BlogTitleOurnament />

      <div class="relative z-10 w-full border-b border-slate-200 py-6">
        <div class="mx-auto max-w-xl px-5 xl:max-w-3xl">
          <h1 class="text-xl font-semibold text-slate-900">Blog</h1>
        </div>
      </div>
      <slot />
    </div>
  </div>
</Layout>
