---
import BlogSideNavigation from "../components/Blog/BlogSideNavigation.astro";
import BlogSidebar from "../components/Blog/BlogSidebar.astro";
import BlogTitleOurnament from "../components/Blog/BlogTitleOurnament.astro";
import Layout from "../layouts/Layout.astro";

type Props = {
  frontmatter: {
    title: string;
    author: string;
    description: string;
    tags: string[];
    published: boolean;
    publishDate: string;
  };
};

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title} seoTitle={frontmatter.title}>
  <div class="flex min-h-screen flex-col-reverse bg-white lg:flex-row">
    <header class="lg:fixed lg:flex lg:min-h-screen lg:w-[360px] xl:w-[420px]">
      <BlogSideNavigation />
      <BlogSidebar sidebarOnDetail />
    </header>

    <main class="flex-1 lg:ml-[380px] xl:ml-[440px]">
      <div class="sticky top-0 z-20 overflow-y-clip bg-white/40 backdrop-blur-sm">
        <div class="absolute top-0 min-h-full w-full overflow-x-hidden">
          <BlogTitleOurnament />
        </div>
        <div class="relative z-20 w-full border-b border-slate-200 py-4 lg:py-6">
          <div class="mx-auto flex max-w-xl flex-col px-5 lg:flex-row lg:items-baseline xl:max-w-3xl">
            <a href="/blog" class="text-xl font-semibold text-slate-900 hover:underline">Blog</a>
            <span class="inline-block max-w-[320px] text-xs text-slate-800 lg:max-w-none lg:pl-2"
              >{frontmatter.title}</span
            >
          </div>
        </div>
      </div>
      <div class="relative z-10 bg-white pb-20">
        <div class="mt-11">
          <div class="mx-auto max-w-xl px-5 xl:max-w-3xl">
            <article class="blog-detail">
              <slot />
            </article>
          </div>
        </div>
      </div>
    </main>
  </div>
</Layout>

<style lang="scss" is:global>
  .gist {
    font-size: 13px;
    line-height: 18px;
    width: 100%;
  }

  @media (max-width: 768px) {
    .gist {
      width: 100%;
    }
  }

  .gist pre {
    font-family: Menlo, Monaco, "Bitstream Vera Sans Mono", "Courier New", monospace !important;
  }

  .gist-meta {
    font-family: Arial, sans-serif;
    font-size: 13px !important;
  }

  .gist-meta a {
    color: #3b5998 !important;
    font-weight: bold;
    text-decoration: none;
  }

  .gist-meta a:hover {
    text-decoration: underline;
  }

  .gist-data {
    max-height: 600px;
  }

  .astro-code {
    padding: 1rem;
    @apply rounded-md text-sm shadow-md;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .gist-data {
      max-height: 300px;
    }
  }

  /* Blog styling */
  .blog-detail {
    a {
      color: #3b5998;
      text-decoration: none;
      font-weight: 600;
      transition: all 0.2s ease-in-out;
      &:hover {
        color: #1a1a1a;
        text-decoration: underline;
      }
    }

    h1 {
      font-size: 1.5rem;
      font-weight: bold;
      max-width: 580px;
      line-height: 130%;
      margin-bottom: 40px;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
      max-width: 480px;
      line-height: 130%;
      margin-bottom: 20px;
      padding-top: 10px;
    }

    p,
    ul,
    li,
    ol {
      font-size: 1rem;
      line-height: 150%;
      margin-bottom: 1rem;
      @apply text-slate-800;
      max-width: 620px;
      line-height: 180%;
    }

    li > ol {
      margin-top: 0.5rem;
    }

    ul {
      list-style: disc;
      padding-left: 1.5rem;
    }

    ol {
      list-style: decimal;
      padding-left: 1.5rem;
    }

    li {
      margin-bottom: 0.2rem;
    }
  }
</style>
